.about-section {
	padding-block: 100px;
	background-color: var(--subBg-color);
}

.about-section .about-container {
	gap: 70px !important;
}

.about-section .about-container .about-image {
	width: 100%;
}

.about-section .about-container .about-image img {
	width: 100%;
}

.about-section .about-container .content h2 {
	font-size: 2rem;
	font-weight: 700;
	color: var(--secondary-color);
}

.about-section .about-container .content p {
	color: var(--secondary-color);
	margin-top: 25px;
}

.about-section .about-container .stats {
	background-color: #eaeaea;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	color: var(--secondary-color);
	text-align: center;
	margin-block: 40px;
	padding: 15px 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.about-section .about-container .stats span {
	font-size: 1.9rem;
	font-weight: 700;
}

.about-section .about-container .stats p {
	font-size: 1.25rem;
	font-weight: 500;
	color: #63647b;
	margin: 0;
}

.about-section .about-container .stats .divider {
	background-color: var(--secondary-color);
	width: 3px;
	height: 2rem;
}

@media (max-width: 991px) {
	.about-section .about-container {
		flex-direction: column;
		gap: 30px !important;
	}

	.about-section .about-container .stats {
		flex-direction: column;
	}

	.about-section .about-container .stats .divider {
		background-color: var(--secondary-color);
		width: 4rem;
		height: 3px;
	}
}
