.hero-section {
	position: relative;
}

.hero-section .hero-container .hero-image {
	background-color: var(--bg-color);
}

.hero-section .hero-container .hero-image img {
	width: 100%;
}

.hero-section .hero-container .content {
	color: var(--secondary-color);
}

.hero-section .hero-container .content h1 {
	font-weight: bold;
	font-size: 55px;
	margin-bottom: 25px;
}

.hero-section .hero-container .content h1 span {
	display: block;
	color: var(--primary-color);
	font-size: 30px;
	margin-bottom: 20px;
}

.hero-section .hero-container .content p {
	font-size: 20px;
}

@media (max-width: 991px) {
	.hero-section .hero-container {
		flex-direction: column;
	}
	.hero-section .hero-container .hero-image {
		margin-top: 30px;
	}
}
