.navbar-nav .nav-link {
  position: relative;   
  text-decoration: none;
  transition: var(--main-transition);
}

/* .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
  cursor: pointer;
}
.navbar-nav .nav-link:hover::before {
  width: 100%;  
} */

.nav-link:hover{
    color: var(--primary-color) !important;
  /* font-weight: 600; */
  border-bottom: 2px solid #0d6efd;
}

.nav-link.active {
  color: var(--primary-color) !important;
  font-weight: 600;
  border-bottom: 2px solid var(--primary-color);
}

.nav-container {
  position: sticky !important;
  padding: 15px;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

