.navbar-nav .nav-link {
  position: relative;   
  text-decoration: none;
  transition: var(--main-transition);
}

.nav-link:hover{
    color: var(--primary-color) !important;
  border-bottom: 2px solid #0d6efd;
}

.nav-link.active {
  color: var(--primary-color) !important;
  font-weight: 600;
  border-bottom: 2px solid var(--primary-color);
}

.nav-container {
  position: sticky !important;
  padding: 7px;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

