.OurTeam-section {
  background-color: var(--subBg-color);
}
.title-ourTeam {
  margin: auto;
  text-align: center;
  width: 50%;
  color: var(--secondary-color);
}
.title-ourTeam h3 {
  font-size: 2.5rem;
  font-weight: 700;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 11px;
}
.card {
  border: none !important;
  text-align: center;
  padding: 70px;
  background: #fff;
  border-radius: 15px;
  transition: all 0.35s ease-in-out;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}
.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}
.image-ourTeam {
  max-width: 240px;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 25px;
}
.image-ourTeam img {
  width: 100%;
}
.circle-icon {
  min-width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: var(--main-transition);
  cursor: pointer;
}
.circle-icon a {
  color: #fff;
}
