.navbar-nav .nav-link {
  position: relative;   
  text-decoration: none;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}
.navbar-nav .nav-link:hover::before {
  width: 100%;  
}
